/* Meet the team */
.meet-the-team {width: 100%; margin-bottom: 80px;}
.meet-the-team__wrapper {display: flex; flex-direction: column; align-items: center;}
.meet-the-team__section-title {text-transform: uppercase; font-size: var(--section-title-primary); font-weight: var(--regular-weight);letter-spacing: 3px; text-align: center; margin-bottom: 60px;}
.meet-the-team__header {font-size: 22px; text-align: left; width: 100%; margin-bottom: 30px; letter-spacing: 1px; text-transform: uppercase; position: relative;}
.meet-the-team__header::after {content: ''; position: absolute; bottom: -5px; left: 0; width: 100%; height: 2px; background-color: var(--secondary-background);}
.meet-the-team__person-container {display: grid; grid-template-columns: repeat(5, 1fr); gap: 25px; margin-bottom: 80px;}
.meet-the-team__person {width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: flex-start;}
.meet-the-team__person img {width: 100%; margin-bottom: 10px;}
.meet-the-team__person .name {margin: 0 0 4px; font-weight: 100; text-align: center;}
.meet-the-team__person .role {margin: 0; font-weight: 600; text-align: center;}

@media only screen and (max-width: 1024px) {
  .meet-the-team {margin-bottom: 50px;}
  .meet-the-team__person-container {grid-template-columns: repeat(3, 1fr); gap: 30px; margin-bottom: 50px;}
  .meet-the-team__section-title {margin-bottom: 50px;}
}

@media only screen and (max-width: 767px) {
  .meet-the-team__header {font-size: 18px;}
  .meet-the-team__person-container {grid-template-columns: repeat(2, 1fr); gap: 30px 20px;}
}
