:root {
  /* Background Colours */
  --primary-background-dark: #141323;
  --primary-background-light: #FFFFFF;
  --off-white-background: #EFEFEF;
  --secondary-background: #AE8F59;

  /* Text Colours */
  --primary-dark-text: #141323;
  --primary-light-text: #FFFFFF;
  --secondary-text: #AE8F59;
  --accent-text: #67A754;

  /* Font */
  --body-font: 'Roboto', sans-serif;

  /* Font Size */
  --headline: 4rem; /* 64px */
  --page-title: 2.5rem; /* 46px */
  --quote-text: 1.75rem; /* 28px */
  --author-text: 1.625rem; /* 26px */
  --section-title-primary: 2rem; /* 32px */
  --body-text: 1rem; /* 18px */
  
  @media only screen and (max-width: 1024px) {
    --headline: 2.5rem; /* 40px */
    --page-title: 1.625rem; /* 26px */
    --section-title-primary: 1.5rem; /* 24px */
    --quote-text: 1.5rem; /* 24px */
    --author-text: 1.375rem; /* 22px */
  }
  
  @media only screen and (max-width: 767px) {
    --headline: 2rem; /* 32px */
    --page-title: 1.5rem; /* 24px */
    --section-title-primary: 1.375rem; /* 22px */
    --quote-text: 1.25rem; /* 20px */
    --author-text: 1rem; /* 18px */
  }

  /* Font Weight */
  --light-weight: 300;
  --regular-weight: 400;
  --bold-weight: 700;

  /* Box-shadows */
  --default-box-shadow: 0px 5px 20px #000000ba;

  /* Social Media Links */
  --facebook: 'https://m.facebook.com/ablelectricalservicesltd';
  --instagram: 'https://www.instagram.com/apollo_renewable_installations/?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr';
}