/* Global Settings/Resets */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  background-color: var(--off-white-background);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

a, 
a:visited,
a:active {
  text-decoration: none;
}


/*  */
.page-wrapper {width: 100%; max-width: 1366px; padding: 0 20px; margin: 0 auto;}

/* Button Styles */
.btn {font-weight: var(--light-weight); font-size: var(--body-text); text-transform: uppercase; padding: 8px 30px 8px 30px; border-radius: 25px; width: 100%; max-width: 280px; text-align: center; letter-spacing: 0.9px; transition: all 0.1s linear;}
.btn-dark {color: var(--primary-light-text); background-color: var(--primary-background-dark); border: 2px solid var(--secondary-text);}
.btn-dark:hover {background-color: var(--secondary-background);}
.btn-light {color: var(--primary-dark-text); background-color: var(--primary-background-light); border: 2px solid var(--secondary-text);}
.btn-light:hover {background-color: var(--primary-background-dark); color: var(--primary-light-text);}

/* Header */
header {overflow: hidden; display: flex; flex-direction: column; width: 100%; height: 180px; background-color: var(--primary-background-dark); box-shadow: var(--default-box-shadow);}
.header__wrapper {height: 122px;}
.header__top {position: relative; height: 100%; display: flex; justify-content: space-between; align-items: center;}
.header__absolute-logo {position: absolute; width: 330px; height: 100%; top: 0; left: calc(50% - 165px);}
.header__homepage-link {display: flex;}
.header__top-left img {width: 325px;}
.header__top-right {display: flex; flex-direction: column; align-items: flex-end; justify-content: center;}
.header__top-right svg {width: 35px; color: var(--primary-light-text); transition: all 0.1s linear;}
.header__top-right svg:hover {color: var(--secondary-text);}
.header__contact-number-link {display: flex;}
.header__contact-number {font-size: 1.625rem; color: var(--primary-light-text); letter-spacing: 1.6px; font-weight: var(--light-weight);}
.header__contact-number span {color: var(--secondary-text);}
.header__social-container {display: flex; justify-content: center; align-items: center; gap: 10px;}
.header__social-link {display: flex;}
.header__bottom {position: relative; width: 100%; height: 58px; display: flex; justify-content: center; align-items: center; border-top: 1px solid var(--secondary-text);} 
.header__nav-container {display: flex; justify-content: center; gap: 80px;}
.header__nav-link {color: var(--primary-light-text); font-size: var(--body-font); font-weight: var(--light-weight); text-transform: uppercase; letter-spacing: 3px; padding-bottom: 4px; border-bottom: 2px solid transparent; transform: translateY(2px); transition: all 0.1s linear;}
.header__nav-link.selected {border-bottom: 2px solid var(--secondary-text);}
.header__nav-link:hover {border-bottom: 2px solid var(--secondary-text);}


/* Page Title */
.title__container {width: 100%;}
.title__wrapper {padding: 60px 0 50px 0;}
.title__wrapper h1 {text-align: center; font-size: var(--page-title); font-weight: var(--bold-weight); text-transform: uppercase; color: var(--primary-dark-text); margin-bottom: 0; letter-spacing: 3px;}


/* Service Selector */
.service-selector {background-color: var(--primary-background-light); margin-bottom: 80px;}
.service-selector__wrapper {display: grid; grid-template-columns: repeat(4, 1fr); padding: 30px 0 20px 0;}
.service-selector__item-container {display: flex; justify-content: center; align-items: center;}
.service-selector__item {display: flex; flex-direction: column; justify-content: space-around; align-items: center; gap: 20px; cursor: pointer;}
.service-selector__item:hover svg, .service-selector__item:hover h3 {fill: var(--primary-dark-text); color: var(--primary-dark-text);}
.service-selector__item.selected {cursor: default;}
.service-selector__item.selected svg, .service-selector__item.selected h3 {fill: var(--primary-dark-text); color: var(--primary-dark-text);}
.service-selector__item svg {width: 50px; max-height: 50px; fill: var(--secondary-background);}
.service-selector__item h3 {color: var(--secondary-text); text-align: center; font-size: var(--body-text); font-weight: var(--regular-weight); text-transform: uppercase; line-height: 1.4; letter-spacing: 0.9px;}


/* Service Sections */
.content-section.hidden {display: none;}


/* Featured Panel */
.featured-panel {position: relative; width: 100%; margin-bottom: 80px; box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);}
.featured-panel.light {background-color: var(--primary-background-light);}
.featured-panel.dark {background-color: var(--primary-background-dark);}
.featured-panel.transparent {background-color: transparent; box-shadow: none;}
.dark .featured-panel__title, .dark .featured-panel__body-text {color: var(--primary-light-text);}
.featured-panel__wrapper {display: flex; align-items: center; justify-content: space-between;}
.featured-panel__img-container {position: absolute; width: 50%; height: 100%; top: 0;}
.img-right .featured-panel__img-container {right: 0;}
.img-left .featured-panel__img-container {left: 0;}
.img-left .featured-panel__wrapper {justify-content: flex-end;}
.img-left .featured-panel__text-container, .img-left .featured-panel__btn-container  {align-items: flex-end;}
.img-left .featured-panel__title, .img-left .featured-panel__body-text  {text-align: right;}
.img-left.contain .featured-panel__wrapper {justify-content: space-between; flex-direction: row-reverse;}
.contain .featured-panel__wrapper {min-height: unset;}
.contain .featured-panel__img-container {position: relative;}
.featured-panel__img-container img {width: 100%; height: 100%; object-fit: cover;}
.featured-panel__wrapper {min-height: 600px;}
.featured-panel__text-container {display: flex; flex-direction: column; justify-content: center; align-items: flex-start; width: 45%; padding: 60px 0;}
.featured-panel__title {text-transform: uppercase; margin-bottom: 30px; font-size: var(--section-title-primary); font-weight: var(--regular-weight);letter-spacing: 3px;;}
.featured-panel__body-text {font-size: var(--body-text); color: var(--primary-dark-text); font-weight: var(--regular-weight);}
.featured-panel__btn-container {display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; gap: 12px; width: 100%; margin-top: 50px;}




/* Quote Section */
.quote {width: 100%; margin-bottom: 80px;}
.quote.has-bg-color {background-color: var(--primary-background-light); padding: 80px 0; margin-top: 80px;}
.quote__wrapper {}
.quote__text {width: 100%; text-align: center; font-size: var(--quote-text); font-weight: var(--light-weight); color: var(--primary-dark-text); margin-bottom: 15px; line-height: 1.4;}
.quote__author {width: 100%; text-align: center; font-size: var(--author-text); font-weight: var(--bold-weight); color: var(--secondary-text);}


/* Footer */
footer {width: 100%; height: 250px; background-color: var(--primary-background-dark);}
.footer__wrapper {position: relative; display: flex; justify-content: space-between; height: 100%;}
.footer__absolute-logo {position: absolute; width: 680px; height: 100%; top: 0; left: calc(50% - 340px); }
.footer__left {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 20px;}
.footer__nav-link {color: var(--primary-light-text); font-size: var(--body-font); font-weight: var(--light-weight); text-transform: uppercase; letter-spacing: 3px; transition: all 0.1s linear;}
.footer__nav-link:hover {color: var(--secondary-text);}
.footer__right {display: flex; flex-direction: column; align-items: flex-end; justify-content: center; gap: 10px;}
.footer__homepage-link {display: flex;}
.footer__homepage-link img {width: 280px;}
.footer__logo {}
.footer__logo img {}
.footer__social-container {display: flex; justify-content: center; align-items: center; gap: 10px;}
.footer__social-link {display: flex;}
.footer__social-link svg {width: 35px; color: var(--primary-light-text); transition: all 0.1s linear;}
.footer__social-link svg:hover {color: var(--secondary-text);}


