/* Homepage Hero */
#hero-splide {position: relative; margin-bottom: 80px;}
.hero-splide__overlay {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: var(--primary-background-dark); z-index: 2; opacity: 15%;}
.hero-splide__text-container {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 4; padding-top: 7%;}
.hero-splide__heading-container {display: flex; flex-direction: column; background-color: #141423eb; width: fit-content; padding: 12px 30px; border-radius: 10px; margin-bottom: 20px;}
.hero-splide__heading-container h3 {font-size: var(--page-title); color: var(--secondary-text); margin: 0; font-weight: var(--regular-weight);}
.hero-splide__heading-container h2 {font-size: var(--headline); color: var(--primary-light-text); margin: 0;}
.hero-splide__heading-container h2 span {color: var(--accent-text);}
.hero-splide__btn-container {display: flex; align-items: center; justify-content: flex-start; gap: 20px;}
.splide__slide {width: 100%;}
.splide__slide img {width: 100%;}

/* How Can We Help */
.help-section {width: 100%; margin-bottom: 80px;}
.help-section__wrapper {}
.help-section__title {text-align: center; color: var(--primary-dark-text); text-transform: uppercase; margin-bottom: 30px; font-size: var(--section-title-primary); font-weight: var(--regular-weight); letter-spacing: 3px; margin-bottom: 40px;}
.help-section__card-container {width: 100%; display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px;}
.help-section__card {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; background-color: var(--primary-background-light); padding: 30px; border-radius: 10px; gap: 20px}
.help-section__card-title {font-size: 1.4rem; font-weight: 400; margin-bottom: 0; text-transform: uppercase;}
.help-section__card-img {width: 100%;}
.help-section__card-body {}